# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables & Secrets
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE Configuration
.idea/
.vscode/

# Database / OS Artifacts
*.db
*.sqlite3
.DS_Store